body {
  margin: 0;
  background-color: #fe7bb0;
  background-image: linear-gradient(315deg, #fe7bb0 0%, #ff748b 74%);
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input {
  border: none !important;
  outline: none !important;
}

.headerChoose {
  font-family: "Comic Neue", cursive;
  color: white;
}

.btnFont {
  font-family: "Poppins", sans-serif;
}

.Preview {
  border-radius: 31px 31px 31px 31px;
  -moz-border-radius: 31px 31px 31px 31px;
  -webkit-border-radius: 31px 31px 31px 31px;
  border: 18px solid white;
}
